main {
  grid-area: main;
  background-color: wheat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "h1 h1 h1"
      "post1 post2 post3"
      "post4 post5 post6"
      "post7 post8 post9"
      "button button button";
  gap: 20px;

  @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "h1 h1"
          "post1 post2"
          "post3 post4"
          "post5 post6"
          "post7 post8"
          "post9 post9"
          "button button";
  }

  @media screen and (max-width: 950px) {
      grid-template-columns: 1fr;              
      grid-template-areas:
          "h1"
          "post1"
          "post2"
          "post3" 
          "post4"
          "post5" 
          "post6"
          "post7"
          "post8"
          "post9"
          "button";
  }
}

h1 {
  grid-area: h1;
  text-align: center;
}

.blog-card {
  background-color: #fffff2;
  min-width: 300px;
  padding: 0 1em;
  border-radius: 5px;

  @media screen and (max-width: 500px) {
      min-width: 250px;
      margin: 0;
  }

  @media screen and (max-width: 375px) {
      min-width: 225px;
  }
}

img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.read-more {
  margin: 0 auto;
  grid-area: button;

}



.date {
  font-size: 0.8em;
}

figure {
  margin: 0 -16px;
}

.thumbnail {
  width: 100%;
  height: auto;
  padding: 0;
}